<p id="notice"><%= notice %></p>

<p>
  <strong>Pairing:</strong>
  <%= @pairings_player.pairing %>
</p>

<p>
  <strong>Player:</strong>
  <%= @pairings_player.player %>
</p>

<%= link_to 'Edit', edit_pairings_player_path(@pairings_player) %> |
<%= link_to 'Back', pairings_players_path %>
